doctype html
html
    head
        meta(charset='utf-8')

        link(rel="stylesheet", href="/index.css", type="text/css")
    body
        nav
            a(href="/")
                img(class="index_icon" src="개발자들icon_new_gry.png", alt="index_icon")
            a(href="/Member" class="nav_a") Member
            a(href="/Notice" class="nav_a") Notice
            a(href="/About" class="nav_a") About
            