doctype html
html
    head
        meta(charset='utf-8')
        title 개발자들
        link(rel="stylesheet", href="/index.css", type="text/css")
    body
        nav
            a(href="/")
                img(class="index_icon" src="devdogsicon.png", alt="index_icon")
            a(href="/Member" class="nav_a") Member
            a(href="/Notice" class="nav_a") Notice
            a(href="/About" class="nav_a") About
        
        div(class="index_content")
            p Work hard,
            p Play hard
            p SKHU 
                spwn(class="index_content_color") Devdogs.

        div(class="index_explain")
            p 개발에 대해 열정을 가진 사람들이 서로 발전하기 위해 모인 동아리입니다.
            p 개발자들에서는 정기모임, 아이디어톤, 해커톤 등의 활동을 진행합니다.
            p 동아리에 대해 더 알고 싶은 분은 
                a(href="/About")<b>여기</b>
                |를 클릭해 주세요.

        div(class="index_aperture")

        div(class="index_footer")
            div(class="index_footer_text") Copyright © 2019 DevDogs. All rights reserved.
            div(class="index_Last")
                div Create & Design by J
        