doctype html
html
    head
        meta(charset='utf-8')

        link(rel="stylesheet", href="/index.css", type="text/css")
    body
        nav
            b 개발자들
            a(href="/Member" class="nav_a") Member
            a(href="/Notice" class="nav_a") Notice
            a(href="/About" class="nav_a") About DevDogs