doctype html
html
    head
        meta(charset='utf-8')
        title 개발자들
        link(rel="stylesheet", href="/notice.css", type="text/css")
    body
        nav
            a(href="/")
                img(class="index_icon" src="/images/devdogsicon.png", alt="index_icon")
            a(href="/Member" class="nav_a") Member
            a(href="/Notice" class="nav_a") Notice
            a(href="/About" class="nav_a") About

        form(action="/Notice/add" method='post' enctype='multipart/form-data')
            input(type="text" placehoder='title' name='title')
            br
            textarea(type="textarea" placehoder='context' name='content')
            br
            input(multiple='multiple' type='file' name='fileupload[]')
            br
            input(type="submit")