doctype html
html
    head
        meta(charset='utf-8')
        title 개발자들
        link(rel="stylesheet", href="/notice_id.css", type="text/css")
        script.
            function ConfirmDelete() {
                return confirm("삭제하시겠습니까?");
            };

    body
        nav
            a(href="/")
                img(class="index_icon" src="/devdogsicon.png" alt="index_icon")
            a(href="/Member" class="nav_a") Member
            a(href="/Notice" class="nav_a") Notice
            a(href="/About" class="nav_a") About

        h1= '제목: ' + data[0].title
        p= '내용: ' + data[0].content
        -if(data[0].files > 0)
            -for(var i=0; i<data.length; i++)
                a(href="/download/"+data[i].filePath)=data[i].filePath  
                br
            br
            a(href="edit/"+data[0].noticeId) edit
            form(action="delete/"+ data[0].noticeId method='post')
                input(type="submit" value="delete" Onclick="return ConfirmDelete()")
        -else
            a(href="edit/"+data[0].id) edit
            form(action="delete/"+ data[0].id method='post')
                input(type="submit" value="delete" Onclick="return ConfirmDelete()")
