doctype html
html
    head
        meta(charset='utf-8')
        title 개발자들
        link(rel="stylesheet", href="/notice.css", type="text/css")
    body
        a(href='/Notice' class='title') Test Notice
        hr
        form(action="/Notice/edit/"+notice.id method='post' enctype='multipart/form-data')
            input(type="text" placehoder='title' name='title' value=notice.title)
            br
            textarea(type="textarea" placehoder='context' name='content')
                =notice.content
            br
            input(multiple='multiple' type='file' name='fileupload[]')
            br
            input(type="submit")