doctype html
html
    head
        meta(charset='utf-8')

        link(rel="stylesheet", href="/notice_id.css", type="text/css")
    body
        a(href='/Notice' class='title') Test Notice
        hr
        p= data.content