doctype html
html
    head
        meta(charset='utf-8')

        link(rel="stylesheet", href="/notice.css", type="text/css")
    body
        a(href='/Notice' class='title') Test Notice
        hr
        form(action="/Notice/add" method='post' enctype='multipart/form-data')
            input(type="text" placehoder='title' name='title')
            br
            textarea(type="textarea" placehoder='context' name='content')
            br
            input(type='file' name='fileupload')
            br
            input(type="submit")