@font-face{
    font-family: 'NANUMSQUARER';
    src: url(/NANUMSQUARER.TTF) format('truetype');
}

@font-face{
    font-family: 'NANUMSQUAREL';
    src: url(/NANUMSQUAREL.TTF) format('truetype');
}

body{
    font-family: 'NANUMSQUARER';
    margin: 0rem;
}


nav{
    padding: 2rem;
    padding-right: 5rem;
    padding-left: 5rem;
    color: rgb(29, 29, 29);
    font-size: 1.2rem;
}

nav a{
    text-decoration: none;
    color: rgb(29, 29, 29);
    font-weight: bold;
}

.nav_a{
    float: right;
    margin-left: 3rem;
    margin-top: 1.3rem;
}

.index_icon{
    width: 12rem;
}

.index_content{
    font-family: 'NANUMSQUAREL';
    font-size: 5.5rem;
    padding-top: 7rem;
    padding-left: 14rem;
}

.index_content p{
    margin: 0;
}

.index_content_color{
    color: #ff1e44
}

.index_explain{
    font-family: 'NANUMSQUARER';
    font-weight: bold;
    padding-top: 4rem;
    margin-left: 60%;
    color: rgb(60, 60, 60);
}

.index_explain p a{
    text-decoration-color: black;
    color: black;
}

.index_explain p{
    margin: 0;
    margin-top: 0.2rem;
}

.index_footer{
    margin-top: 5rem;
    text-align: center;
    background-color: rgb(43, 43, 43);
    color: white;
}

.index_footer div{
    padding: 2rem;
}

.index_Last{
    text-align: center;
    color: white;
    background-color: hsl(350, 100%, 60%);
}

.index_Last div{
    padding: 0.4rem;
}