@font-face{
    font-family: 'NANUMSQUARER';
    src: url(/NANUMSQUARER.TTF) format('truetype');
}

@font-face{
    font-family: 'NANUMSQUAREL';
    src: url(/NANUMSQUAREL.TTF) format('truetype');
}

body{
    font-family: 'NANUMSQUARER';
    margin: 0rem;
}


nav{
    padding: 2rem;
    padding-right: 5rem;
    padding-left: 5rem;
    color: rgb(29, 29, 29);
    font-size: 1.2rem;
}

nav a{
    text-decoration: none;
    color: rgb(29, 29, 29);
    font-weight: bold;
}

.nav_a{
    float: right;
    margin-left: 3rem;
    margin-top: 1.3rem;
}

.index_icon{
    width: 12rem;
}

.title{
    font-size: 1.5rem;
}

a{
    text-decoration: none;
    color: black;
}