@font-face{
    font-family: 'NANUMSQUARER';
    src: url(/NANUMSQUARER.TTF) format('truetype');
}

@font-face{
    font-family: 'NANUMSQUAREL';
    src: url(/NANUMSQUAREL.TTF) format('truetype');
}

body{
    font-family: 'NANUMSQUARER';
    margin: 0rem;
}

h1{
    margin-bottom: 0;
    padding-bottom: 0.6rem;
}

nav{
    padding: 2rem;
    padding-right: 5rem;
    padding-left: 5rem;
    color: rgb(29, 29, 29);
    font-size: 1.2rem;
}

nav a{
    text-decoration: none;
    color: rgb(29, 29, 29);
    font-weight: bold;
}

.nav_a{
    float: right;
    margin-left: 3rem;
    margin-top: 1.3rem;
}

.index_icon{
    width: 12rem;
}

.title{
    font-size: 1.5rem;
}
a{
    text-decoration: none;
    color: black;
}

.notice_view{
    width: 60%;
    margin: auto;
    margin-top: 2rem;
}

.notice_detail_data{
    padding-bottom: 0.4rem;
}

.notice_detail_data span{
    margin-right: 0.6rem;
}

.notice_delete_button{
    background-color: white;
    font-family: 'NANUMSQUARER';
    font-size: 1rem;
    border: 0;
    float: right;
    padding: 0;
}

.notice_back_button{
    margin-left: 45%;
}

.notice_edit_button {
    float: right;
}

.notice_bottom{
    margin-top: 5%;
}

.notice_view .notice_content{
    font-size: 1.2rem;
    font-family: 'NANUMSQUARER';
    min-height: 30rem;
    padding: 0.5rem;
    margin: 0 auto;
    margin-top: 1rem;
    background-color: #fff6fb;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    overflow: auto;
    resize: none;
    line-height: 1.6rem;
}

hr{
    border-color: rgba(255, 255, 255, 0.5);
}

/* footer start */
.index_footer{
    position: relative;
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: rgb(43, 43, 43);
    color: white;
}

.index_footer_text{
    padding: 2rem;
}

.index_Last{
    text-align: center;
    color: white;
    background-color: hsl(350, 100%, 60%);
}

.index_Last div{
    padding: 0.4rem;
}

.index_aperture{
    height: 4rem;
}

/* footer end */

.userIcon{
    width: 1rem;
    padding-right: 0.3rem;
    vertical-align: -0.15rem;
}

.clockIcon{
    width: 1rem;
    padding-right: 0.3rem;
    vertical-align: -0.15rem;
}